@use '@/assets/styles/mixins/mixins.scss' as *;

.home{
    padding: 60px 20px;
    width: 100%;
    height: 100dvh;
    @include displayFlex(center, column);
    background: var(--gradient-hero), url("/images/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .home__center{
        @include displayFlex(center, column);
        margin: auto;
    }

    .home__desc{
        text-align: center;
        max-width: 650px;

        h1{
            margin: 10px 0px;
            font-size: var(--font-size-400);
            background: transparent;

            span{
                @include textGradient();
            }
        }

        h3{
            font-size: var(--font-size-200);
            font-style: italic;
            font-weight: 200;
            color: var(--secondary-text-color);
        }

        h4{
            font-size: var(--font-size-100);
            color: var(--accent);
        }

        p{
            margin: 40px 0px;
            font-size: var(--font-size-100);
            line-height: 1.5rem;
            color: var(--secondary-text-color);
        }
    }

    .home__btns{
        @include displayFlex(center, column);
        gap: 20px;

        a:nth-child(1){
            font-weight: 800;
        }

        a{
            padding: 10px 30px;
        }
    }

    .home__social{
        margin-top: 40px;
        @include displayFlex(center, row);
        gap: 15px;

        svg{
            width: 24px;
            height: 24px;
            color: var(--secondary-text-color);
        }

        .home__social-item{
            text-align: center;

            a{
                @include displayFlex(center, row);
            }

        }

        .home__social-item--github:hover, .home__social-item--message:hover{
            a{
                box-shadow: 0px 0px 10px var(--primary) inset;
            }

            svg{
                color: var(--primary);
            }
        }

        .home__social-item--linkedin:hover{
            a{
                box-shadow: 0px 0px 10px var(--accent) inset;
            }

            svg{
                color: var(--accent);
            }
        }
    }

    .home__arrow{
        text-align: center;

        svg{
            width: 40px;
            height: 30px;
            opacity: 0.2;
            color: var(--secondary-text-color);
            animation: bounce 3s ease-in-out infinite;
        }

        @keyframes bounce {
            0%{
                transform: translateY(0);
            }
            60%{
                transform: translateY(-8px);
            }
            100%{
                transform: translateY(0px);
            }
        }
    }
}

@media (min-width: 700px) {
.home{
    .home__desc{
        h1{
            font-size: var(--font-size-600);
        }

        h3{
            font-size: var(--font-size-300);
        }

        h4{
            font-size: var(--font-size-200);
        }

        p{
            font-size: var(--font-size-300);
            line-height: 2rem;
        }
    }

    .home__btns{
        margin: 20px 0px;
        flex-direction: row;
        gap: 30px;

        a{
            padding: 10px 40px;
        }
    }
}
}