@use '@/assets/styles/mixins/mixins.scss' as *;

.header{
    position: fixed;
    top: 0;
    z-index: 111111;
    padding: 24px;
    width: 100%;
    color: var(--primary-text-color);

    .header__nav{
        @include displayFlex(space-between, row);
        flex-wrap: wrap;

        .header__toggle{
            order: 2;
            border-radius: 5px;
            background-color: transparent;
            outline: solid 2px transparent;
            border: none;

            &:focus{
                outline: 2px solid var(--primary);
            } 
            
            &:active{
                background-color: var(--accent);
            }
            
            svg{
                fill: var(--primary-text-color);
            }
        }
    }
    
    .header__menu{
        display: none;
        order: 3;
        width: 100%;
        padding: 10px 20px;
        margin-top: 10px;
        text-align: left;
        border-radius: 20px;

        a{
            padding: 20px 0px;
        }

        .header__item{
            width: 100%;
            margin-bottom: 5px;
        }

        .header__item--contact{
            text-align: center;
        }
    }

    .header__menu--show{
        display: block; 
    }

    .header__svg{
        display: block;
        width: 30px;
        height: 30px;
    }
}

.header--blur-efect{
    background-color: var(--primary-background);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

@media (min-width: 770px) {
    .header{
        padding: 18px;

        .header__nav{
            .header--blur-efect{
                background-color: transparent;
                backdrop-filter: none;
            }

            .header__toggle{
                display: none;
            }
        }
        
        .header__menu{
            width: auto;
            @include displayFlex(center, row);
            place-items: center;
            gap: 20px;
            padding: 0px;
            order: 2;
            background-color: transparent;

            a{
                padding: 5px;
            }
        }
    }
}