@use '@/assets/styles/mixins/mixins.scss' as *;

.header{
    position: fixed;
    top: 0;
    padding: 24px;
    width: 100%;
    color: var(--primary-text-color);

    Button{
        width: min-content;
    }

    .header__nav{
        @include displayFlex(space-between, row);
        flex-wrap: wrap;

        .header__toggle{
            order: 2;
        }
    }
    
    .header__menu{
        display: none;
        order: 3;
        width: 100%;
        padding: 10px 20px;
        margin-top: 10px;
        text-align: left;
        border-radius: 20px;

        Button{
            padding: 20px 5px;
            width: 100%;
            text-align: left;
        }

        .header__item{
            padding: 5px 0px;
            width: 100%;
        }

        .header__item-contact{
            width: 100%;

            Button{
                text-align: center;
            }
        }
    }

    .header__menu--show{
        display: block; 
    }

    .header__svg{
        display: block;
        width: 30px;
        height: 30px;
    }
}

.header--blur-efect{
    background-color: var(--primary-background);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

@media (min-width: 770px) {
    .header{
        Button{
            width: min-content;
        }

        .header__nav{
            .header__toggle{
                display: none;
            }
        }
        
        .header__menu{
            width: auto;
            @include displayFlex(center, row);
            gap: 20px;
            padding: 0px;
            order: 2;
            background-color: transparent;

            Button{
                padding: 10px 5px;
            }

            .header__item{
                padding: 0px 0px;
            }
        }
    }
}