footer{
    padding: 30px;
    text-align: center;
    color: var(--secondary-text-color);
    line-height: 1.5rem;
    background-color: var(--primary-background-darker);
    border-top: solid 1px var(--tertiary-border);
}