:root{
    /* Brand Colors */
    --primary: hsl(261, 83%, 58%);
    --accent: hsl(189, 84%, 52%);

    --primary-text-color: #F0F1f5;
    --secondary-text-color: #8F96A3;
    
    /* Backgounds */
    --primary-background : rgba(0, 0, 0, 0.411);
    --primary-background-darker : #0D0F12;

    /* Borders */
    --primary-border: #793BED1A;
    --secondary-border: #793bed72;
    --tertiary-border: #8f96a338;

    /* Gradients */
    --gradient-primary: linear-gradient(135deg, var(--primary), var(--accent));
    --gradient-hero: linear-gradient(to bottom right, color-mix(in hsl, var(--primary) 30%, transparent), hsla(0, 0%, 0%, 0.796), color-mix(in hsl, var(--accent) 35%, transparent));
    --gradient-card: linear-gradient(to bottom, #b76aff 0%, #8b44ff 50%, #5c87e4 100% 
);
}
