*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: inter, sans-serif;
    background-color: rgb(21, 21, 21);
    font-size: 16px;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}